[Unit]
Description=YSF Bridge
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/opt/ysf_bridge2/ysf_bridge.py /opt/ysf_bridge2/ysf_bridge.ini

[Install]
WantedBy=multi-user.target
